<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,169},{216,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,156},{216,88}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,577},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,164},{74,72}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,358},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,164},{75,72}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,431},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{162,164},{75,72}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,258},{109,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,175},{109,49}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,63},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,181},{37,37}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,296},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,181},{37,37}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,695},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,181},{37,37}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,695},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,181},{38,37}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,0},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,181},{37,37}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,101},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,181},{37,38}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,586},{216,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,155},{216,90}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,258},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,181},{38,37}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,482},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,181},{37,37}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{289,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,158},{289,84}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,85},{287,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,158},{287,83}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,926},{214,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,169},{214,62}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,865},{214,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,170},{214,60}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,803},{214,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,169},{214,61}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,677},{216,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,169},{216,62}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,930},{214,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,168},{214,64}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,869},{214,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,170},{214,60}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,169},{214,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,156},{214,88}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,525},{216,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,170},{216,60}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>31.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{214,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,168},{214,63}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>32.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,740},{214,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,169},{214,62}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,804},{214,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,168},{214,64}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,567},{62,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,168},{62,64}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,504},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,169},{62,62}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{288,85},{65,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,169},{65,62}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,169},{64,62}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,358},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,169},{62,62}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,421},{62,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,170},{62,60}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{216,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,156},{216,88}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>40.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,632},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,169},{62,62}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{216,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,156},{216,88}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{216,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,156},{216,88}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,308},{109,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,175},{109,49}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,504},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,164},{74,72}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,650},{74,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,164},{74,72}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>button.png</string>
			</dict>
		</dict>
</plist>